@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600&display=swap");
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8f2d56;
  --ifm-color-primary-dark: #81294d;
  --ifm-color-primary-darker: #7a2649;
  --ifm-color-primary-darkest: #64203c;
  --ifm-color-primary-light: #9d325f;
  --ifm-color-primary-lighter: #a43463;
  --ifm-color-primary-lightest: #ba3b70;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #a3e635;
  --ifm-color-primary-dark: #97e31c;
  --ifm-color-primary-darker: #8fd61a;
  --ifm-color-primary-darkest: #76b016;
  --ifm-color-primary-light: #aee94e;
  --ifm-color-primary-lighter: #b4eb5b;
  --ifm-color-primary-lightest: #c5ef81;
  --ifm-background-color: #020617;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

code,
pre {
  font-family: "JetBrains Mono", monospace;
}

h1,
h2 {
  font-family: "Noto Sans Display", sans-serif;
  line-height: 1.6;
  /* letter-spacing: 2px; */
  font-weight: 700;
}

h3,
h4,
h5,
h6,
p,
a,
ul,
li,
ol,
table,
td,
tbody,
thead {
  font-family: "Quicksand", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

thead {
  font-weight: 600;
}
